<header>
  <app-user-toolbar [titulo]="titulo" [returnPath]="lastPath"></app-user-toolbar>
</header>

<main class="p-5">
  <h1>Carrito de Compras</h1>
  <br>
  <h3>Total a pagar: {{total}}</h3>
  <br>
  <div id="vg" fxLayout="row" fxLayoutWrap>
    <mat-card class="card" *ngFor="let juego of videojuegos">
      <mat-card-title><b>{{juego.name}}</b></mat-card-title>
      <mat-card-subtitle><b>Precio: </b>{{juego.price}}</mat-card-subtitle>
      <img mat-card-image src="{{juego.cover}}" alt="fotoJUego">
      <mat-card-content class="delete" (click)="quitarCarrito(juego.id)">
        <mat-icon>delete</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <button (click)="goToPage('compra')" mat-raised-button color="primary">Comprar</button>

</main>