<header>
    <mat-toolbar color="primary" >
        
        <img src="../../../assets/image/logowhite.png" height="30px">
        <h1>{{titulo}}</h1>
        <span class="spacer"></span>
        <mat-icon>person</mat-icon>
    
        <button mat-raised-button class="mx-1" color="warn" (click)="goToPage('inicio')" >
        User Mode
        </button>
    </mat-toolbar>
    
</header>

<div class="mainContainer py-3" >
    <form [formGroup] ="profileForm">
        <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput placeholder="{{juego.name}}">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Genero</mat-label>
            <input formControlName="genre" matInput placeholder="{{juego.genre}}">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Desarrollador</mat-label>
            <input formControlName="developer" matInput placeholder="{{juego.developer}}">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Precio</mat-label>
            <input (keypress)="numberOnly($event)" type="number" formControlName="price" matInput placeholder="{{juego.price}}">
        </mat-form-field>

        
        <mat-form-field class="full-width">
            <mat-label>Descripcion</mat-label>
            <textarea formControlName="descripcion" matInput placeholder="{{juego.descripcion}}"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Portada (url)</mat-label>
            <textarea formControlName="cover" matInput placeholder="{{juego.cover}}"></textarea>
        </mat-form-field>
        
        <button (click)="saveForm()" mat-raised-button color="primary">Editar</button>
    </form>
</div>