
<div>
  <div class="row">

    <div class="col-xl-3 col-md-4 col-sm-6 col-6 gy-4" *ngFor="let juego of curendDisplay" >

      <app-juego-card [juego]="juego"></app-juego-card>

    </div>

  </div>

  <div class="row my-4">

    <div class="d-flex  flex-row justify-content-around">
      <button mat-icon-button (click)="last()">
        <mat-icon >keyboard_arrow_left</mat-icon>
      </button>
      <p> {{currentPage}} - {{max_page}}</p>
      <button mat-icon-button (click)="next()">
        <mat-icon >keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
